@{
    ViewData["Title"] = "Comunidad";
}

<h1>Comunidad</h1>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card shadow-sm">
            <img src="~/images/forodiscusion.jpg" class="card-img-top" alt="Foros de Discusión">
            <div class="card-body">
                <h5 class="card-title">Foros de Discusión</h5>
                <p class="card-text">Participa en nuestros foros de discusión y comparte tus conocimientos y experiencias con otros profesionales y entusiastas de la tecnología.</p>
                <a href="#" class="btn btn-primary">Ir a Foros</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card shadow-sm">
            <img src="~/images/eventos.jpg" class="card-img-top" alt="Eventos">
            <div class="card-body">
                <h5 class="card-title">Eventos</h5>
                <p class="card-text">Asiste a eventos, seminarios y conferencias para mantenerte actualizado con las últimas tendencias y novedades en tecnología.</p>
                <a href="#" class="btn btn-primary">Ver Eventos</a>
            </div>
        </div>
    </div>
</div>
